body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0px auto;
}

header, main, footer {
    background-color: #FFF;
}

h1, h2, h3, h4, h5 {
    padding: 15px 5px 15px 5px;
}

.img-size {
    max-width: 40%;
    margin: 10px;
}

p {
    padding: 8px 5px;
}

.card-text {
    margin: 0px;
    padding: 0px;
}

$custom-theme-colors: (
    "darkorange": rgb(185, 59, 0),
    "darkgrey": rgba(41, 41, 41, 0.795),
    "lightred": rgba(255, 121, 98, 0.527),
    "lightpurple": rgb(230, 221, 255)
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);